.navbar.fixed-top {
    border-radius: 0 25px 225px 0/25px 0 25px 255px;
    border-width: 0 0 2px;
}

.navbar-brand {
    padding-left: 15px;
    padding-top: 8px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.container {
    margin-top : 150px;
}
