{% extends "base.html" %}

{% block contents %}


<form method="post">
    {% csrf_token %}
    <div class="jumbotron">
        <h1 class="display-3 text-info">POST</h1>
        <hr class="my-4">
        <div class="form-group">
          <label class="col-form-label col-form-label-lg text-info" for="inputLarge">T i t l e</label>
          <input class="form-control form-control-lg" type="text" id="inputLarge">
        </div>
        <hr class="my-4">
        <label class="col-form-label col-form-label-lg text-info" for="inputLarge">C o n t e n t s</label>

        <textarea name="editordata" id="summernote"></textarea>

        <button type="button" class="btn btn-danger btn-lg btn-block mt-5" >Submit</button>

    </div>
</form>

{% endblock %}

